{% extends 'base.html' %}
{% block meta %}

{% endblock meta %}

{% block content %}
 <!-- Your existing code for the profile information -->
 <h1>Wishlist saya</h1>
 <div id="wishlist_saya"></div> 
 
 <h1>Pilih wishlist</h1>
 <div class="row row-cols-1 row-cols-md-3 g-4 py-3 justify-content-center">
     {% for book in books %}
     <div class="col mx-5">
         <div class="card">
             <div class="card-header text-center fw-semibold bg-success text-white">
                 Buku {{ book.pk }}
             </div>
             <div class="card-body text-center">
                 <strong>Judul</strong>: {{ book.title }} <br>
                 <strong>Penulis</strong>: {{ book.authors }} <br>
                 <strong>Bahasa</strong>: {{ book.language_code }} <br>
                 <strong>Jumlah Halaman</strong>: {{ book.num_pages }} <br>
                 <strong>Tanggal Publikasi</strong>: {{ book.publication_date }} <br>
                 <strong>Penerbit</strong>: {{ book.publisher }} <br>
             </div>
             <a>
                 <button class="form-control btn btn-primary fw-bold" onclick="add_wishlist({{book.pk}})">
                     Tambahkan ke Wishlist
                 </button>
             </a>
         </div>
     </div>
     {% endfor %}
 </div>

  <script>
    async function getwishlist() {
      return fetch(`get_wishlist/`).then((res) => res.json())
    }

    async function refreshProfil() {
        document.getElementById('wishlist_saya').innerHTML = ``
    
    
        let filteredBooks = await getwishlist()
    
    
        let htmlString = ``
        htmlString += `\n
        <div class="row row-cols-1 row-cols-md-3 g-4 py-3 justify-content-center">
        `
        console.log(filteredBooks)
        filteredBooks.forEach((book) => {
            htmlString += `\n
            <div class="col mx-5">
                <div class="card">
                    <div class="card-header text-center fw-semibold bg-success text-white">
                        Buku ${book.fields.id_book}
                    </div>
                    <div class="card-body text-center">
                        <strong>Judul</strong>: ${book.fields.title} <br>
                        <strong>Penulis</strong>: ${book.fields.authors} <br>
                        <strong>Bahasa</strong>: ${book.fields.language_code} <br>
                        <strong>Jumlah Halaman</strong>: ${book.fields.num_pages} <br>
                        <strong>Tanggal Publikasi</strong>: ${book.fields.publication_date} <br>
                        <strong>Penerbit</strong>: ${book.fields.publisher} <br>
                    </div>
                    <a>
                        <button class="form-control btn btn-primary fw-bold" onclick="deleteWishlist(${book.pk})">
                            Delete
                        </button>
                    </a>
                    
                </div>
            </div>
            `
        })
        
        htmlString += `\n
        </div>
        `
        document.getElementById('wishlist_saya').innerHTML = htmlString
          
    }

    console.log("test1")
    function add_wishlist(id_book) {
        console.log("test2")

        fetch(`add_wishlist/${id_book}/`, {
            method: "POST",
        }).then(refreshProfil)
      
        return false
    }

    async function deletewishlist(id) {
        fetch(`delete_wishlist/${id}/`, {
            method: "DELETE",
        }).then(refreshProfil)
        return false
    }
    refreshProfil()
  </script>



{% endblock content %}