{% extends 'base.html' %}
{% load static %} 

{% block content %}
    <title>FAQ</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">Frequently Asked Questions of Book {{id_book}} (Admin)</a>    
            <div>
                <a href="{% url 'FAQ:view_list_questions' id_book %}" style="text-decoration: none;">
                    <button type="button" class="btn btn-primary">Lihat List Pertanyaan User</button>
                </a>
                <a href="{% url 'FAQ:show_buku'%}" style="text-decoration: none;" class="mx-2">
                    <button type="button" class="btn btn-primary">Back</button>
                </a>
                
            </div>
        </div>
    </nav>

    <div id="question_answer_cards"></div>
    <input type="hidden" id="id_for_book" value="{{id_book}}">
    <input type="hidden" id="filtered_url" data-url="{% url 'FAQ:get_questions_answers_filtered_json' id_book %}">

    <script src="{% static 'js/faqpage_admin.js' %}"></script>

{% endblock content %}