{% extends 'base.html' %}
{% load static %} 

{% block meta}

{% endblock meta}

{% block content %}
    <title>FAQ</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">Frequently Asked Questions Buku {{id_book}}</a>    
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tanya ke Admin</button>
                <a href="{% url 'FAQ:show_buku'%}" style="text-decoration: none;" class="mx-2">
                    <button type="button" class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </nav>

    <div id="question_answer_cards"></div>
    <input type="hidden" id="id_for_book" value="{{id_book}}">
    <input type="hidden" id="filtered_url" data-url="{% url 'FAQ:get_questions_answers_filtered_json' id_book %}">

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Form Pertanyaan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Isi:</label>
                            <input type="text" class="form-control" id="isi_pertanyaan" name="isi_pertanyaan"></input>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" onclick="addQuestion('{{id_book}}')">Add</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/faqpage.js' %}"></script>

{% endblock content %}