{% extends 'base.html' %}
{% load static %} 

{% block content %}
    <title>FAQ</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">User Questions List of Book {{id_book}}</a>    
            <div>
            
                <a href="{% url 'FAQ:show_page' id_book %}">
                    <button type="button" class="btn btn-primary">Back</button>
                </a>
                
            </div>
        </div>
    </nav>

    <div id="question_cards"></div>
    
    
    <div class="modal fade" id="jawabanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Form Pertanyaan & Jawaban</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        
                        
                        <div class="mb-3">
                            {{ form.isi_pertanyaan.label_tag }} {{ form.isi_pertanyaan }}
                        </div>

                        <div class="mb-3">
                            {{ form.isi_jawaban.label_tag }} {{ form.isi_jawaban }}
                        </div>
                        
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add_jawaban" data-bs-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
    
    <input type="hidden" id="id_for_book" value="{{id_book}}">
    <input type="hidden" id="filtered_url" data-url="{% url 'FAQ:get_questions_filtered_json' id_book %}">

    <script src="{% static 'js/listquestions.js' %}"></script>

 
{% endblock content %}