{% extends 'base.html' %}

{% block content %}

<html>
<head>
    <title>Profil</title>
    <!-- Tambahkan tautan CSS Anda di sini -->
</head>
<body>
    <h1>Profil</h1>
    <p><strong>Username:</strong> {{ profilUser.user.username }}</p>
    <p><strong>Status:</strong> {{ profilUser.status }}</p>
    <p><strong>Tanggal Lahir:</strong> {{ profilUser.tanggal_lahir }}</p>
    <p><strong>Deskripsi:</strong> {{ profilUser.description }}</p>
    <img src="{{ profilUser.foto_profil.url }}" alt="Profil Picture">

    <!-- Tambahkan tautan untuk mengedit profil -->
    <a href="{% url 'profilUser:edit_profil' %}">Edit Profil</a>
</body>
</html>

{% endblock content %}