{% extends 'base.html' %}
{% block meta}

{% endblock meta}

{% block content %}
    <title>Buku Favorit</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">List Buku (Admin)</a>
            <a href="{% url 'Homepage:show_homepage'%}" style="text-decoration: none;" class="mx-2">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
    </nav>

    <!-- <div id="book_cards"></div> -->

    <div class="row row-cols-1 row-cols-md-3 g-4 py-3 justify-content-center">
        {% for book in books %}
        <div class="col mx-5">
            <div class="card">
                <div class="card-header text-center fw-semibold bg-success text-white">
                    Buku {{book.pk}}
                </div>
                <div class="card-body text-center">
                    <strong>Judul</strong>: {{book.title}} <br>
                    <strong>Penulis</strong>: {{book.authors}} <br>
                    <strong>Bahasa</strong>: {{book.language_code}} <br>
                    <strong>Jumlah Halaman</strong>: {{book.num_pages}} <br>
                    <strong>Tanggal Publikasi</strong>: {{book.publication_date}} <br>
                    <strong>Penerbit</strong>: {{book.publisher}} <br>
                </div>
                <a href="{% url 'FAQ:show_page' book.pk %}">
                    <button class="form-control btn btn-primary fw-bold">
                        Tambahkan ke Favorit
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}