<!DOCTYPE html>
<html>
<head>
    <title>Request any book here!</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">List Buku</a>
            <a href="{% url 'requestBuku:show_home'%}" style="text-decoration: none;" class="mx-2">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
        
    </nav>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="display-4">Request Your Book Here!</h1>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    {{form.as_p}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
