{% extends 'base.html' %}
{% load static %}
{% block meta}
    
{% endblock meta}

{% block content %}
    <title>FAQ</title>
    <nav class="navbar navbar-expanded-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white font-monospace" href="#">List Buku</a>
            <a href="{% url 'Homepage:show_homepage'%}" style="text-decoration: none;" class="mx-2">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
        
    </nav>

    <div class="container my-5">
        
        <div class="input-group">
            <input id="filter_judul" class="form-control" type="search" placeholder="Masukkan judul buku..." aria-label="Search">
            <div class="input-group-append">
                <button id="button_filter" class="btn btn-warning" type="submit" onclick=refreshBooks()>Search</button>
            </div>
        </div>
            
    </div>

    <div id="book_cards"></div>

    <script src="{% static 'js/show_list_of_books.js' %}"></script>

{% endblock content %}